.App {
  background-color: lightgray;
  text-align: center;
}


.form-container {
  height: 10vh;
}

form {
  margin-top: 2.7vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

label {
  width: 10vh;
  margin-right: 10px;
  font-weight: bold;
}

input {
  padding: 8px;
  margin-right: 10px;
  width: 24vw;
  box-sizing: border-box;
}

button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

ul {
  padding: 0 4.5vw;
  list-style-type: none;
  text-align: center;
  margin-top: 0vh;
}

li {
  background-color: white;
  display: flex;
  align-items: center;
  list-style-type: none;
  border: solid .12vh black;
  height: 3.3vh;
}

h1 {
  font-size: 4vh;
}

a {
  text-decoration: none;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-shadow: .12vh .12vh white;
}

.infobar {
  display: flex;
  align-items: center;
  padding: 0 4.5vw;
  font-size: 2.7vh;
  text-shadow: .12vh .12vh black;
  height: 100%;
  border-top: solid .33vh black;
}

.type {
  font-size: 2.7vh;
  text-shadow: .12vh .12vh black;
  height: 100%;
  width: 9vw;
  border-left: solid .41vh black;
  border-right: solid .12vh black;
}

#mint {
  color: lightsteelblue;
}

#buy {
  color: tomato;
}

#sell {
  color: palegreen;
}

.name {
  height: 100%;
  width: 33vw;
  border-right: solid .12vh black;
}

.id {
  height: 100%;
  width: 9vw;
  border-right: solid .12vh black;
}

.hash {
  height: 100%;
  width: 63vw;
  border-right: solid .12vh black;
}

.date {
  height: 100%;
  width: 9vw;
  border-right: solid .41vh black;
}